<!DOCTYPE xml>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tinyheb.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
    	android:name=".TinyhebApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatronInsertActivity"
            android:label="@string/title_activity_patron_insert"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name=".APISyncService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".MasterDataActivity"
            android:label="@string/title_activity_master_data" >
        </activity>
        <activity
            android:name=".MasterDataPagerActivity"
            android:label="@string/title_activity_master_data_pager" >
        </activity>
    </application>

</manifest>